.card-item{
    color: black;
}

.card-item:hover{
    color: black;
    text-decoration:none;
    
}

.item:hover{
    /* border: 1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  transition: box-shadow 0.2s ease-in-out;
}