.cart{
    color: black;
    margin-right: 20px;
    text-decoration: none!important;
}
.cart :hover{
    color: #F91944;
    
}
.login:hover{
    background-color: #F91944;
    color: white!important;
    border-radius: 30px;
}

.numberCircle {
    position: relative;
    top: -12px;
    left: 38px;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    padding: 1px;
    background: #F91944;
    border: 2px solid #F91944;
    color: white;
    text-align: center;
    /* text-decoration: none; */
    font: 12px Arial, sans-serif;
}
.numberCircle:hover{
    background-color: #F91944;
    color: white!important;
    border-radius: 30px;
}